<style type="text/css">
  form[name="search-offers"] {
    background-color: rgba(255, 255, 255, 1);
    padding: 2rem 2rem 1rem;
  }
</style>
<form name="search-offers" action="{{ home_url }}" method="get" class="mr-4 mb-4">
  <div class="row">
    <div class="col-md-3 no-pd">
      <div class="form-group">
        <input class="form-control" name="s" value="{{ s }}" type="text" placeholder="Mot clé">
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <select class="form-control" name="ab" title="Secteur d'activité">
          <option></option>

          {% for abranch in abranchs %}
            <option value="{{ abranch.term_id }}" {% if ab == abranch.term_id %} selected="selected" {% endif %}>
              {{ abranch.name }}
            </option>
          {% endfor %}

        </select>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <select class="form-control" name="rg" title="Région">
          <option></option>
          {% for region in regions %}
            <option value="{{ region.term_id }}" {% if rg == region.term_id %} selected="selected" {% endif %}>
              {{ region.name }}
            </option>
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="col-md-2">
      <input type="hidden" name="post_type" value="{{ post_type }}">
      <button class="btn btn-blue btn-block">Trouver</button>
    </div>
  </div>
</form>
<div class="ibox-footer row">
  <div class="col-sm-10 mr-sm-auto mb-4">
    <a class="btn btn-rounded btn-success" href="{{ publish_ad_link }}">DEPOSER UNE ANNONCE</a>
  </div>
</div>
