{% if candidates is not empty %}
  <div uk-slider="center: false; autoplay: true; autoplay-interval: 2500" class="mt-4">
    <h5 class="vc-element-title">{{ title }}</h5>
    <div class="uk-position-relative uk-visible-toggle uk-light mb-4 container-candidate">
      <ul class="uk-slider-items uk-grid">
        {% for candidate in candidates %}
          <li class="uk-width">
            <div class="card ibox mb-4">
              <div class="card-body">
                <h4 class="card-title mb-4">
                  <a href="{{ candidate.candidate_url }}">{{ candidate.title }}</a>
                </h4>
                <div class="candidate-info mt-2">
                  <div class="mb-1">
                    <p class="mb-0 uk-text-bold">L'emploi recherché:</p>
                    <div>
                      {% if candidate.jobSought is not same as(undefined) %}
                        {{ candidate.jobSought|explode_terms }}
                      {% else %}
                        Non renseigné
                      {% endif %}
                    </div>
                  </div>

                  <div class="mb-1"><b>Permis :</b>
                    {% if candidate.driveLicences is not empty %}
                      {{ candidate.driveLicences|explode_array }}
                    {% else %}
                      Aucun
                    {% endif %}
                  </div>

                  {% if candidate.branch_activity.name is not same as(undefined) %}
                  <div class="mb-1">
                    <p class="mb-0 uk-text-bold">Secteur d'activité :</p>
                    {{ candidate.branch_activity.name }}
                  </div>
                  {% endif %}

                  <div class="mb-1"><b>Langues :</b>
                    {% if candidate.languages is empty %} Aucun {% endif %}
                    {{ candidate.languages|explode_terms }}
                  </div>
                </div>
                <div class="pt-4">
                  <div class="card-info">
                    CV ajouté le: {{ candidate.dateAdd }}
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <div class="d-flex align-items-center justify-content-between">
                  <div>
                    Voir le CV
                  </div>
                  <div>
                    <a href="{{ candidate.candidate_url }}" class="view"><i class="la la-plus-circle"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </li>
        {% endfor %}
      </ul>

      <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
      <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>

    </div>

    <ul class="uk-slider-nav uk-dotnav uk-flex-center"></ul>
  </div>
{% endif %}