<script type="text/javascript">
  (function ($) {
    $(document).ready(function () {
      var table = $('#products-table').DataTable({
        pageLength: 10,
        fixedHeader: false,
        responsive: true,
        "sDom": 'rtip',
        language: {
          url: "https://cdn.datatables.net/plug-ins/1.10.16/i18n/French.json"
        }
      });
      $('#key-search').on('keyup', function () {
        table.search(this.value).draw();
      });
      // $('#type-filter').on('change', function () {
      //   table.column(2).search($(this).val()).draw();
      // });
    });

  })(jQuery);
</script>
<div class="page-header">
  <div class="ibox flex-1">
    <div class="ibox-body">
      <div class="flexbox">
        <div class="flexbox-b">
          <div>
            <h4>{{ client.title }}</h4>
            <div class="text-muted font-13 mb-3">
              <span class="mr-3"><i class="ti-location-pin mr-2"></i>{{ client.address|capitalize }}</span>
              <span><i class="ti-calendar mr-2"></i>{{ client.addDate|capitalize }}</span>
            </div>
            <div>
              <span class="mr-3">
                <span class="badge badge-primary badge-circle mr-2 font-14" style="height:30px;width:30px;">
                  <i class="ti-user"></i>
                </span>
                Entreprise
              </span>
            </div>
          </div>
        </div>
        <div class="d-inline-flex">
          <div class="px-4 text-center">
            <div class="text-muted font-13">OFFRE{% if offers|length > 1 %}S{% endif %}</div>
            <div class="h2 mt-2">{{ offers|length }}</div>
          </div>
        </div>
      </div>
    </div>
    <ul class="nav nav-tabs tabs-line m-0 pl-3 pr-3">
      <li class="nav-item">
        <a class="nav-link" href="#profil" data-toggle="tab">
          <i class="ti-briefcase mr-2"></i>
          Information générale
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="#offers" data-toggle="tab">
          <i class="ti-support mr-2"></i>
          Mes offres
        </a>
      </li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane fade text-center" id="profil">
        <div class="page-content">
          <div class="ibox-body">
            <div class="h1 mt-5 mb-3">Information générale</div>
            <p class="mb-5">Laborum dolore consectetur occaecat in ex sunt et dolore dolore aliqua aute qui cupidatat et
              ullamco in pariatur dolor quis laboris ut.</p>
          </div>
        </div>

      </div>

      <div class="tab-pane fade text-center active show" id="offers">
        <div class="page-content">
          <div class="ibox-body">
            <div class="flexbox mb-4">
              <div class="flexbox">
                <div class="input-group-icon input-group-icon-left mr-3">
                  <span class="input-icon input-icon-right font-16"><i class="ti-search"></i></span>
                  <input class="form-control form-control-solid" id="key-search" type="text"
                         placeholder="Rechercher ...">
                </div>
                <a class="btn btn-primary" href="{{ url['add_offer'] }}">Ajouter une offre</a>
              </div>
            </div>
            <div class="table-responsive row">
              <table class="table table-bordered table-hover" id="products-table">

                <thead class="thead-default thead-lg">
                <tr>
                  <th>ID</th>
                  <th>Poste à promouvoir</th>
                  <th>Type de contrat</th>
                  <th>Secteur d'activité</th>
                  <th>Région</th>
                  <th>Réference</th>
                  <th>Actions</th>
                </tr>
                </thead>

                <tbody>
                {% for offer in offers %}
                  <tr>
                    <td>{{ offer.ID }}</td>
                    <td>
                      <a href="{{ offer.ID|get_permalink }}" title="{{ offer.postPromote }}">{{ offer.postPromote }}</a>
                    </td>
                    <td>{{ offer.contractType[ 'label' ] }}</td>
                    <td>{{ offer.branch_activity.name }}</td>
                    <td>{{ offer.region.name }}</td>
                    <td>
                      <span class="badge badge-info badge-pill">{{ offer.reference }}</span>
                    </td>
                    <td>
                      <a class="text-light mr-3 font-16" href="javascript:;"><i class="ti-pencil"></i></a>
                      <a class="text-light font-16" href="javascript:;"><i class="ti-trash"></i></a>
                    </td>
                  </tr>
                {% endfor %}
                </tbody>

              </table>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>