<style type="text/css">
  /*
---------------------------------------------------------------------------------
	STRIPPED DOWN RESUME TEMPLATE
    html resume

    v0.9: 5/28/09

    design and code by: thingsthatarebrown.com
                        (matt brown)
---------------------------------------------------------------------------------
*/


  .msg { padding: 10px; background: #222; position: relative; }
  .msg h1 { color: #fff;  }
  .msg a { margin-left: 20px; background: #408814; color: white; padding: 4px 8px; text-decoration: none; }
  .msg a:hover { background: #266400; }

  /* //-- yui-grids style overrides -- */
  #inner { padding: 10px 80px; margin: 80px auto; background: #f5f5f5; border: solid #666; border-width: 8px 0 2px 0; }
  .yui-gf { margin-bottom: 2em; padding-bottom: 2em; border-bottom: 1px solid #ccc; }

  /* //-- header, body, footer -- */
  #hd { margin: 2.5em 0 3em 0; padding-bottom: 1.5em; border-bottom: 1px solid #ccc }
  #hd h2 { text-transform: uppercase; letter-spacing: 2px; }
  #bd, #ft { margin-bottom: 2em; }

  /* //-- footer -- */
  #ft { padding: 1em 0 5em 0; font-size: 92%; border-top: 1px solid #ccc; text-align: center; }
  #ft p { margin-bottom: 0; text-align: center;   }

  /* //-- core typography and style -- */
  #hd h1 { font-size: 48px; text-transform: uppercase; letter-spacing: 3px; font-weight: 600; }
  h2 { font-size: 152% !important; }
  h3, h4 { font-size: 122% !important; }
  h1, h2, h3, h4 { color: #333; }
  p { font-size: 100%; line-height: 18px; padding-right: 3em; }
  a { color: #990003 }
  a:hover { text-decoration: none; }
  strong { font-weight: bold; }
  #doc2 li { line-height: 24px; border-bottom: 1px solid #ccc; }
  p.enlarge { font-size: 144%; padding-right: 6.5em; line-height: 24px; }
  p.enlarge span { color: #000 }
  .contact-info { margin-top: 7px; }
  /* //-- section styles -- */

  a#pdf {
    display: inline-block;
    background: #666;
    color: white;
    padding: 10px;
    text-decoration: none;
  }
  a#pdf:hover { background: #222; }

  .job { position: relative; margin-bottom: 1em; padding-bottom: 1em; border-bottom: 1px solid #ccc; }
  .job h4 { position: absolute; top: 0.35em; right: 0 }
  .job p { margin: 0.75em 0 3em 0; }

  .last { border: none; }
  .skills-list {  }
  .skills-list ul { margin: 0; }
  .skills-list li { margin: 3px 0; padding: 3px 0; }
  .skills-list li span { font-size: 152%; display: block; margin-bottom: -2px; padding: 0 }
  .talent { width: 100%; float: left; padding-left: 0; }
  .talent li {
    width: 50%;
    float: left;
    list-style: none;
  }
  .talent h2 { margin-bottom: 6px; }

  #srt-ttab { margin-bottom: 100px; text-align: center;  }
  #srt-ttab img.last { margin-top: 20px }

  /* --// override to force 1/8th width grids -- */
  .yui-gf .yui-u{width:80.2%;}
  .yui-gf div.first{width:12.3%;}
  .yui-gf {
    margin-bottom: 2em;
    padding-bottom: 2em;
    border-bottom: 1px solid #ccc;
  }
  .last { border-bottom: 0 }

</style>

<div id="doc2" class="yui-t7 container">
  <div id="inner">

    <div id="hd">
      <div class="row">
        <div class="col-md-8">
          <div class="row">
            <div class="col-lg-12">
              {% if candidate.privateInformations.avatar %}
                <img class="img-circle" src="{{ candidate.privateInformations.avatar[0] }}" alt="image" width="100">
              {% endif %}
            </div>
            <div class="col-lg-12">
              <h1>{{ candidate.privateInformations.firstname }} {{ candidate.privateInformations.lastname }}</h1>
              <h2>{{ candidate.branch_activity.name }}</h2>
              <p class="text-description mb-0 mt-3 uk-text-bold">{{ candidate.privateInformations.address.address }}</p>
              <p class="text-description">{{ candidate.privateInformations.address.country.name }}</p>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="contact-info text-right">
            <h3><a id="pdf" href="#" class="text-uppercase">Télécharger en PDF</a></h3>
            <h3 class="d-inline-block">
              <a href="mailto:{{ candidate.privateInformations.author.data.user_email }}">
                {{ candidate.privateInformations.author.data.user_email }}
              </a>
            </h3>
            <div class="mt-2">
              {% for phone in candidate.privateInformations.cellphone %}
                <h3 class="mt-1" style="font-family: Poppins, sans-serif"><i class="ti-mobile"></i> {{ phone }}</h3>
              {% endfor %}
            </div>

          </div><!--// .contact-info -->
        </div>
      </div><!--// .row -->
    </div><!--// hd -->

    <div id="bd">
      <div id="yui-main">
        <div class="yui-b">

          {% if candidate.centerInterest.projet is not empty %}
            <div class="row yui-gf">
              <div class="col-md-4">
                <h2>Projet</h2>
              </div>
              <div class="col-md-8">
                <p class="enlarge">
                  {{ candidate.centerInterest.projet }}
                </p>
              </div>
            </div><!--// .yui-gf -->
          {% endif %}

          {% if  candidate.experiences is not empty %}
            <div class="row yui-gf">
              <div class="col-md-4">
                <h2>Experiences professionnelles</h2>
              </div><!--// .row -->

              <div class="col-md-8">

                {% for experience in candidate.experiences %}
                  <div class="job {% if loop.last %} last {% endif %}">
                    <h2 class="uk-text-bold">{{ experience.exp_company }}</h2>
                    <h3 class="text-muted">{{ experience.exp_positionHeld }}</h3>
                    <h4 style="font-family: Poppins, sans-serif">{{ experience.exp_dateBegin }} à {{ experience.exp_dateEnd }}</h4>
                    {{ experience.exp_mission|raw }}
                  </div>
                {% endfor %}

              </div>
            </div><!--// .row -->
          {% endif %}

          <div class="row yui-gf">
            <div class="col-md-4">
              <h2>Education</h2>
            </div>
            <div class="col-md-8">
              {% for training in candidate.trainings %}
                <div class="job {% if loop.last %} last {% endif %}">
                  <h2 class="uk-text-bold">{{ training.training_diploma }}</h2>
                  <h3 class="text-muted">{{ training.training_establishment }}</h3>
                  <p>{{ training.training_city }}, {{ training.training_country }}</p>
                  <h4 style="font-family: Poppins, sans-serif">
                    {{ training.training_dateBegin }}
                    {% if training.training_dateBegin != training.training_dateEnd %}
                      à {{ training.training_dateEnd }}
                    {% endif %}
                  </h4>
                  {{ training.exp_mission|raw }}
                </div>
              {% endfor %}
            </div>
          </div><!--// .row -->

          <div class="row yui-gf">
            <div class="col-md-4">
              <h2>Outils et technologie</h2>
            </div>
            <div class="col-md-8">

              <ul class="talent">
                {% for software in candidate.softwares %}
                  <li class="{% if loop.last %}last{% endif %}">{{ software.name }}</li>
                {% endfor %}
              </ul>

            </div>
          </div><!--// .yui-gf-->

          <div class="row yui-gf last">
            <div class="col-md-4">
              <h2>Langues</h2>
            </div>
            <div class="col-md-8">

              <ul class="talent">
                {% for language in candidate.languages %}
                  <li class="{% if loop.last %}last{% endif %}">{{ language.name }}</li>
                {% endfor %}
              </ul>

            </div>
          </div><!--// .yui-gf-->

        </div><!--// .yui-b -->
      </div><!--// yui-main -->
    </div><!--// bd -->

    <div id="ft">
      <p>{{ candidate.privateInformations.firstname }} {{ candidate.privateInformations.lastname }} &mdash; <a href="mailto:{{ candidate.author.data.user_email }}">{{ candidate.author.data.user_email }}</a></p>
    </div><!--// footer -->

  </div><!-- // inner -->


</div><!--// doc -->
