<div class="container-offers uk-padding-remove">
  <h5 class="container-offers-title">{{ title }}</h5>
  <div class="row mb-5 ml-0 mr-0">
    {% for offer in offers %}
      <div class="col-md-3 col-sm-6 row-offer">
        <div class="card ibox mb-4">
          <div class="card-body">
            <h4 class="card-title mb-4">
              <a href="{{ offer.offer_url }}">{{ offer.postPromote|striptags|raw|capitalize }}</a>
            </h4>
            <div class="">
              <h4 class="card-title uk-margin-remove">Mission: </h4>
              <p class="text-description mt-2">
                {{ offer.mission|striptags|raw[:100] }} {% if offer.mission|striptags|length > 100 %}...{% endif %}
              </p>
            </div>
            <div class="card-information pt-3">
              <div class="card-info">
                Date limite: {{ offer.dateLimitFormat }}
              </div>
              <div class="card-info pt-1">
                Référence: {{ offer.reference }}
              </div>
            </div>
          </div>
          <div class="card-footer">
            <div class="d-flex align-items-center justify-content-between">
              <div>
                Voir l'offre
              </div>
              <div>
                <a href="{{ offer.offer_url }}" class="view"><i class="la la-plus-circle"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}

    {#
    * Metter le message pour ajouter votre annonce ici
    * Le nombre d'annonce maximum est de 4
    #}
    {% if offers.length < 4 %}
      <div class="col-md-3 col-sm-6 row-offer">

        <div class="modal fade modal-featured-offer" tabindex="-1" role="dialog" aria-labelledby="modalFeaturedOffer" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Mettez votre offre à la une</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Veuillez contacter le service commercial aux numéros suivants:<br>
                032 45 378 60 - 033 82 591 13 - 034 93 962 18.
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Fermer</button>
              </div>
            </div>
          </div>
        </div>

        <div class="card ibox mb-4">
          <div class="card-body" style="background-color: lightseagreen;">
            <h4 class="card-title mb-4">
              <a
                {% if added_featured_offer_url is empty %} href="#modal-featured-offer" data-toggle="modal" data-target=".modal-featured-offer"
                  {% else %}
                    href="{{ added_featured_offer_url }}"
                {% endif %}
              >
                Mettez votre offre ici pour plus de visibilité
              </a>
            </h4>
            <div style="min-height: 86px;">
              <h4 class="card-title uk-margin-remove">
                <div class="mb-2 d-flex load-25"></div>
              </h4>
              <div class="mb-1 mt-2 d-flex load-100">
                <a {% if added_featured_offer_url is empty %} href="#modal-featured-offer" data-toggle="modal" data-target=".modal-featured-offer"
                  {% else %} href="{{ added_featured_offer_url }}" {% endif %}
                  style="font-size: 90px;margin: auto;">
                  <i class="fa fa-plus-square" style="opacity: 0.6;"></i>
                </a>
              </div>

            </div>
          </div>
          <div class="card-footer" style="background-color: darkcyan; min-height: 47px;">
            <div class="d-flex align-items-center justify-content-between">

            </div>
          </div>
        </div>
      </div>
    {% endif %}
  </div>
</div>