<div class="container-list-posts">
  <h5 class="vc-element-title">{{ title }}</h5>
  <div class="row mb-5">

    {% if offers is empty %}
      <div class="col-md-12 mt-4">
        <b>Nous sommes actuellement en train d’alimenter la plateforme avec de nouvelles fiches.</b><br>
        En attendant, faites une recherche ou revenez dans quelques temps ;-) Merci de votre compréhension.</p>
      </div>
    {% endif %}

    {% for offer in offers %}
      <div class="col-md-12">
        <div class="card ibox mb-4">
          <div class="rel">
            <div class="fab fab-bottom card-overlay-fab">
              <button class="btn btn-primary btn-icon-only btn-circle btn-air" data-toggle="button">
                <i class="la la-share-alt fab-icon"></i>
                <i class="la la-close fab-icon-active"></i>
              </button>
              <ul class="fab-menu">
                <li>
                <span class="fb-share-button btn btn-soc-facebook btn-icon-only btn-circle btn-air" data-href="https://developers.facebook.com/docs/plugins/" 
                    data-layout="button" data-size="large" data-mobile-iframe="false">
                    <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ offer.ID|get_permalink }}&src=sdkpreparse" 
                    class="fb-xfbml-parse-ignore" uk-icon="icon: facebook">
                      <i class="fa fa-facebook"></i>
                    </a>
                  </span>
                </li>
              </ul>
            </div>
          </div>
          <div class="card-body">
            <h4 class="card-title mb-4">
              <a href="{{ offer.ID|get_permalink }}" class="text-primary">{{ offer.postPromote|capitalize }}</a>
            </h4>
            <div class="card-description">

              <div class="row">
                <div class="col-8 uk-padding-remove-right">
                  <table class="table">
                    <tbody>
                    <tr>
                      <td>Région:</td>
                      <td>{{ offer.region.name }}</td>
                    </tr>
                    <tr>
                      <td>Mission:</td>
                      <td>{{ offer.mission|striptags|raw[:65] }} {% if offer.mission|length > 65 %}...{% endif %}</td>
                    </tr>
                    <tr>
                      <td>Profil:</td>
                      <td>{{ offer.profil|striptags|raw[:65] }} {% if offer.profil|length > 65 %}...{% endif %}</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
                <div class="col-4 uk-flex">
                  <div class="uk-flex uk-margin-auto-left">
                    <a href="{{ offer.ID|get_permalink }}" class=" uk-margin-auto-vertical">
                      <button class="btn btn-warning btn-fix">
                        <span class="btn-icon">Voir l'offre <i class="la la-plus"></i></span>
                      </button>
                    </a>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <table class="table">
                    <tbody  style="display: table-row-group;">
                    <tr>
                      <td class="no-bold uk-text-bold">Ref: {{ offer.reference }}</td>
                      <td class="text-center uk-text-bold">Date limite: {{ offer.dateLimitFormat }}</td>
                      <td class="text-right">Publier le {{ offer.datePublication }}</td>
                    </tr>
                  </table>
                </div>
              </div>

            </div>
          </div>

          <div class="card-footer">

            <div class="d-flex align-items-center justify-content-between">
              <div class="text-primary">
                <b>TAG: </b> <span class="card-tag">{{ offer.tags|join(', ') }}</span>
              </div>

              <div>
                {{ offer.dateLimit|dateLimited|raw }}
              </div>

            </div>
          </div>
        </div>
      </div>
    {% endfor %}

    <div class="col-md-12">
      <div class="d-flex align-items-center">
        <a class="m-auto" href="{{ archive_offer_url }}">
          <button class="btn btn-sm btn-secondary btn-fix">
            <span class="btn-icon">Voir les offres <i class="la la-plus"></i></span>
          </button>
        </a>
      </div>
    </div>

  </div>
</div>
